@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    /* pallet */
    --VerdeMusgo: #96B36B;
    --VerdeEscuro: #6BB36B;
    --Verde: #99FF99;
    --AzulClaro: #99FFFF;
    --VerdeClaro: #D6FF99;
    --Branco: #fefefe;
    --Preto: #151515;
}